{{ partial "header.html" . }}

<article>
	<header>
		<h1><a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a></h1>
	</header>
	<h2>Categories</h2>
	<ul>
		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			<li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
		{{ end }}
	</ul>

	<h2>By Year/Month</h2>
	<ul>

		{{ range $value := .Site.Pages.GroupByDate "January 2006" }}
		{{ $url := (index $value.Pages 0).Node.Date.Format "2006/01/" | urlize }}
		<li><a href="/{{ $url }}">{{ .Key }}</a></li>
		{{ end }}
	</ul>

</article>

{{ partial "footer.html" . }}