</div>
</div>
</main>

<section class="container-fluid p-0 page-footer">
  <div class="row no-gutters">

    <div class="col-12 col-md-6 text-center col bg sr" style="background-image: url( '/images/footer/footer-img-left.jpg' );">
      <div class="col-md-8 offset-md-2">
        <h2 class="light-blue">Questions</h2> 
        <p class="text-white">Every week we take questions submitted to us by our audience, and answer them live on the podcast. If you have a question you would like to hear answered, please send us an email with the question, and we’ll endeavour to answer it on the show.</p>
        <a href="https://goo.gl/forms/CJoQ9nt0PxtNYqMV2" class="btn btn-primary">Form</a>
      </div>
    </div>

    <div class="col-12 col-md-6 text-center col bg sr" style="background-image: url( '/images/footer/footer-img-right.jpg' );">
     <div class="col-md-8 offset-md-2">
        <h2 class="main-blue">Cool Things of the Week</h2> 
       <p class="text-white">Every week, we go through a “Cool Thing” - it could be a great project running on Google Cloud, a fantastic tip or trick on Google Cloud, an Open Source project or really just about anything we think is new and innovative.</p>
       <a href="mailto:hello@gcppodcast.com" class="btn btn-primary main-blue-btn">Contact</a>
     </div>
    </div>

  </div>
</section>

<div class="mdl-layout-spacer"></div>


<footer class="footer container-fluid sr">

    <div class="container">
      
      <div class="row">
        <div class="col-md-12 footer-content">

          <span class="logo">
            <a href="/"><img src="/images/header.png"></a>
          </span>

            <div class="social-icons">
            
                <div class="social-icons--wrap">
                    <a href="{{ .Site.Params.twitterURL }}" class="social-icon" target="_blank">
                      <span class="fa-stack fa-1x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                      </span>
                    </a>
                </div>
            
                <div class="social-icons--wrap">
                    <a href="{{ .Site.Params.redditURL }}" class="social-icon" target="_blank">
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-circle fa-stack-2x icon-background"></i>
                          <i class="fab fa-reddit-alien fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
            
                <div class="social-icons--wrap">
                    <a href="{{ .Site.Params.rssFeed }}" class="social-icon" target="_blank" onclick="floodLight('googl003');">
                        <span class="fa-stack fa-1x">
                          <i class="fa fa-circle fa-stack-2x icon-background"></i>
                          <i class="fa fa-rss fa-stack-1x"></i>
                        </span>
                    </a>
                </div>
            
            </div>

          </div>
        </div>

      </div>
      

</footer>

<div class="container-fluid sr cr">
  <div class="row">
    <div id="terms" class="col">
        <a href="/license/">License</a>&nbsp;|&nbsp;<a href="https://www.google.com/intl/en/policies/privacy/?fg=1">Privacy</a>
    </div>
  </div>
</div>

</div>
<!-- <script src="https://code.getmdl.io/1.2.1/material.min.js"></script> -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script 
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
  crossorigin="anonymous"></script>
  
<script src="https://cdn.plyr.io/3.3.9/plyr.polyfilled.js"></script>
<script src="/third_party/bower_components/scrollreveal/dist/scrollreveal.js"></script>
  
  <script type="text/javascript">
      window.sr = ScrollReveal({
        scale: 1,
        delay: 100,
        duration: 700,
        arrow: true
      });
  </script>
  <script src="/third_party/bower_components/vibrant/dist/Vibrant.min.js"></script>
  <script src="/third_party/bower_components/slick-carousel/slick/slick.min.js"></script>
  <script src="/third_party/bower_components/mark.js/dist/mark.min.js"></script>
  <script src="/third_party/bower_components/fuse.js/dist/fuse.min.js"></script>
  <script src="/scripts/search.js?s=x8yn32"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>