<div class="hosts-slider w-100 hero sr">
  <img src="/images/hp/rotating/Stephanie1.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Mark1.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Gabi1.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Priyanka1.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Stephanie2.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Mark2.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Gabi2.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Priyanka2.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Stephanie3.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Mark3.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Gabi3.jpg" alt="" width="100%" /><br />
  <img src="/images/hp/rotating/Priyanka3.jpg" alt="" width="100%" />
</div>
