<h4>Ways to Subscribe</h4>

      <ul class="list-group mt-3 mb-3 ">

        <li class="list-group-item">

          <a href="{{ .Site.Params.rssFeed }}" class="" onclick="floodLight('googl003');" target="_blank">
            <!-- <i class="fas fa-rss-square"></i> -->
            RSS Feed
          </a>

        </li>

        <li class="list-group-item">

            <a href="{{ .Site.Params.itunesURL }}" class="" onclick="floodLight('googl002');" target="_blank">
            <!-- <i class="fab fa-itunes"></i> -->
              iTunes
            </a>

        </li>

        <li class="list-group-item">

            <a href="{{ .Site.Params.googleMusicURL }}" class="" onclick="floodLight('googl001');" target="_blank">
            <!-- <i class="fab fa-google-play"></i> -->
              Google Play Music
            </a>

        </li>

        <li class="list-group-item">

            <a href="{{ .Site.Params.stitcherURL }}" class="" onclick="floodLight('googl000');" target="_blank">
              Stitcher Radio
            </a>

        </li>

        <li class="list-group-item">
            <a href="{{ .Site.Params.youtubeURL }}" class="" onclick="floodLight('googl00');" target="_blank">
            <!-- <i class="fab fa-youtube"></i> -->
              YouTube
            </a>

        </li>

        <li class="list-group-item">
            <a href="{{ .Site.Params.emailFBURL }}" class="" onclick="floodLight('googl0');" target="_blank">
            <!-- <i class="fas fa-envelope-square"></i> -->
              Email
            </a>

        </li>
        
      </ul>

      <h4 class="mt-4 mb-3 pt-3">Contact Us</h4>

      <ul class="list-group mt-3 mb-3 pb-3">

        <li class="list-group-item"> 

          <a href="mailto:hello@gcppodcast.com">
            <!-- <i class="fas fa-envelope-square"></i> -->
            Shoot us an email
          </a>

        </li>

        <li class="list-group-item"> 
        
           <a href="https://twitter.com/gcppodcast">
              <!-- <i class="fab fa-twitter"></i> -->
              Follow us on Twitter
           </a>
            
        </li>

        <li class="list-group-item"> 
        
           <a href="http://google.com/+gcppodcast">
              <!-- <i class="fab fa-google-plus"></i> -->
              Follow us on Google Plus
           </a>
            
        </li>

        <li class="list-group-item"> 

           <a href="https://www.reddit.com/r/gcppodcast/">
              <!-- <i class="fab fa-reddit-alien"></i> -->
              Follow us on Reddit
           </a>
            
        </li>

        <li class="list-group-item"> 
        
           <a href="https://gcp-slack.appspot.com/">
              <!-- <i class="fab fa-slack"></i> -->
              Chat with us on Slack
           </a>
           <p>Request an invite to the Google Cloud Slack community and join the #podcast channel</p>
            
        </li>

      </ul>