<article>
	<header>
		<h1><a href="{{ .Permalink }}"><strong>Episode {{ .Params.episodenumber }}:</strong> {{ .Title }}.</a></h1>
	</header>
	<div class="media-box">
		{{ range $hi, $host := .Params.hosts }}
		<img src="/images/hosts/{{ replace $host " " "_" }}.jpg">
		{{ end }}
	</div>
	<p>{{ .Content }}</p>

	<audio controls="controls" preload="none">
		<source src="{{ .Site.Params.episodeBucket }}/{{ .Params.audiofile }}" type="audio/mpeg"/>
		<object type="application/x-shockwave-flash" data="flashmediaelement.swf">
			<param name="movie" value="flashmediaelement.swf"/>
			<param name="flashvars" value="controls=true&amp;file={{ .Site.Params.episodeBucket }}/{{ .Params.audiofile }}"/>
		</object>
	</audio>

	<p><a href="{{ .Site.Params.episodeBucket }}/{{ .Params.audiofile }}">Download MP3</a></p>

	<footer>
		<div><strong>Hosts:</strong>{{ delimit .Params.hosts ", " " and " }}</div>
		<div><strong>Topics:</strong>{{ delimit .Params.categories ", " " and " }}</div>

		<div>
			<p>
			Continue the conversation on:
				<a href="{{ .Params.googlepluslink}}" target="_blank">Google+</a>
				or <a href="{{ .Params.redditlink}}" target="_blank">Reddit</a>
			</p>
		</div>
	</footer>
</article>