<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<link href="{{ .Site.Params.rssFeed }}" rel="alternate" type="application/rss+xml" title="RSS - {{ .Site.Title }}"/>

	<link rel="stylesheet" href="/css/main.css?r=3" type="text/css" media="screen"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic|Roboto+Condensed:400,300,300italic,400italic'
		  rel='stylesheet' type='text/css'>

	<link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
	{{ partial "meta.html" . }}
</head>
<body>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-66340814-1', 'auto');
	ga('send', 'pageview');
</script>
<header>
	<h1><a href="/"><img src="/images/header.png"/><span>Google Cloud Platform Podcast</span></a></h1>

	<div class="links">
		<nav>
			<ul>
				<li><a href="/archive/">Archive</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</nav>
		<div class="icon icon-rssfeed">
			<a href="{{ .Site.Params.rssFeed }}">
				<img src="/images/rss.png"/>
				<span>RSS</span>
			</a>
		</div>
		<div class="icon icon-itunes">
			<a href="{{ .Site.Params.itunesURL }}">
				<img src="/images/itunes.png"/>
				<span>iTunes</span>
			</a>
		</div>
	</div>
</header>

<main>