<style>
paper-fab-speed-dial {
  position: absolute;
  top: 10px;
  right: 10px;
}

paper-fab-speed-dial > paper-fab {
  text-align: center;
  padding: none;
}

paper-fab-speed-dial .dropdown-content {
  position: relative;
  top: -15px;
}

iron-dropdown iron-icon#icon {
  width: 20px;
  height: 20px;
  /* add clickable area */
  padding: 10px;
}

.dropdown-content paper-fab {
  position: relative;
  right: 4px;
  width: 40px;
  height: 40px;
}

paper-fab.twitter {
  background: #55acee!important;
}
paper-fab.gplus {
  background: #f44336!important;
}
paper-fab.facebook {
  background: #3b5999!important;
}
</style>

<script>
function shareGooglePlus(title, url) {
  url  = encodeURIComponent(url);
  window.open('https://plus.google.com/share'+
    '?url='+url);
}


function shareTwitter(title, url) {
  var text = encodeURIComponent('"' + title + '"\n');
  url  = encodeURIComponent(url);
  window.open('https://twitter.com/intent/tweet' +
    '?text=' + text +
    '&url=' + url +
    '&via=gcppodcast');
}

function shareFacebook(title, url) {
  url  = encodeURIComponent(url);

  window.open('https://www.facebook.com/dialog/share'+
    '?app_id=1653280564942689'+
    '&display=popup'+
    '&href=' + url +
    '&redirect_uri='+url);
}
</script>

<paper-fab-speed-dial>
  <paper-fab icon="social:share" class="dropdown-trigger"></paper-fab>
  <div class="dropdown-content">
    <paper-fab mini src="/images/twitter.png" class="twitter"
      onclick="shareTwitter({{ .Title }}, {{ .Permalink }})"></paper-fab>
    <paper-fab mini src="/images/facebook.png" class="facebook"
      onclick="shareFacebook({{ .Title }}, {{ .Permalink }})"></paper-fab>
    <paper-fab mini src="/images/gplus.png" class="gplus"
      onclick="shareGooglePlus({{ .Title }}, {{ .Permalink }})"></paper-fab>
  </div>
</paper-fab-speed-dial>
