<paper-fab-speed-dial>
  <paper-fab icon="social:share" class="dropdown-trigger"></paper-fab>
  <div class="dropdown-content">
    <paper-fab mini src="/images/twitter.png" class="twitter"
      onclick="shareTwitter({{ .Title }}, {{ .Permalink }})"></paper-fab>
    <paper-fab mini src="/images/facebook.png" class="facebook"
      onclick="shareFacebook({{ .Title }}, {{ .Permalink }})"></paper-fab>
    <paper-fab mini src="/images/gplus.png" class="gplus"
      onclick="shareGooglePlus({{ .Title }}, {{ .Permalink }})"></paper-fab>
  </div>
</paper-fab-speed-dial>
