header img {
  width: 350px;
}

/* trick to make the footer stick to the bottom */
.mdl-layout__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

footer.footer img {
  width: 15px;
  height: 15px;
  padding: 0 10px;
}

.centered {
  margin: 10px auto;
}

header a, header a:visited, header a:hover,
footer a, footer a:visited, footer a:hover,
button a, button a:visited, button a:hover {
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
}

img[src*="hosts"] {
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 100%;
  margin: 5px;
  box-shadow: 0 0 10px #aaa;
}

.episode-number {
  color: teal;
}

paper-fab {
  width: 45px;
  height: 45px;
  background: rgb(255,82,82);
}
.dropdown-content paper-fab {
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 5px;
}

#subscribe-menu {
  background: rgb(255,82,82);
}

@media all and (max-width: 699px) {
  .right-hand-nav {
    display: none;
  }
}

/* rhs subscribe menu styles */
#subscribe-dropdown li {
  padding: 0;
}

#subscribe-dropdown a {
  display: block;
  padding: 0 16px;
}

@media screen and (max-width: 660px) {
  footer.footer .mdl-mini-footer__left-section {
    display: none;
  }

  footer.footer .mdl-mini-footer__right-section {
    width: 100%;
    padding: 0 20px;
  }

  footer.footer .mdl-mini-footer__right-section li {
    display: inline-block;
    width: 20%;
  }

  footer.footer span {
    display: none;
  }

  footer.footer img {
    width: 30px;
    height: 30px;
  }

  img[src*="hosts"] {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 100%;
    margin: 5px;
    box-shadow: 0 0 10px #aaa;
  }
}

