        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            {{with .Site.Params.TwitterUser}}
              <a class="mdl-mini-footer--social-btn mdl-button mdl-js-button social-btn social-btn__twitter" href="https://twitter.com/{{.}}" target="_blank" rel="me"></a>
            {{end}}
            {{with .Site.Params.FacebookUser}}
              <a class="mdl-mini-footer--social-btn mdl-button mdl-js-button social-btn social-btn__fb"  href="https://facebook.com/{{.}}" target="_blank" rel="me"></a>
            {{end}}
            {{with .Site.Params.GooglePlusUser}}
              <a class="mdl-mini-footer--social-btn mdl-button mdl-js-button social-btn social-btn__gplus" href="https://google.com/+{{.}}" target="_blank" rel="me"></a>
            {{end}}
          </div>
          <div class="mdl-mini-footer--right-section">
            {{with .Site.Params.copyright}}
              <p>{{ . | safeHTML }}</p>
            {{end}}
          </div>
        </footer>
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/share.min.js"></script>
    {{ if isset .Params "audiofile" }}
    <script src="/js/progress-polyfill.min.js"></script>
    <script src="/js/podlove-web-player.min.js"></script>

        <script>
            $('audio').podlovewebplayer({
                "pluginPath": "/bin/",
                title: '{{ .Title }}',
                publicationDate: '{{ .Date }}',
                show: {
                    title: '{{ .Site.Title }}',
                    summary: '{{ .Site.Params.description }}',
                    url: '{{ .Site.BaseURL }}'
                },
                duration: '{{ .Params.audioDuration }}',
                "hidedownloadbutton": true,
                "hidesharebutton": true,
            });
        </script>

    {{ end }}
  </body>
  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
    
    $(function() {
      hljs.initHighlightingOnLoad();
    });
  </script>
  {{ partial "share.html" . }}
</html>