</div>
</div>
</main>

<div class="mdl-layout-spacer"></div>


<footer class="footer mdl-mini-footer">
    <div class="mdl-mini-footer__middle-section">

        <div>
            <a href="{{ .Site.Params.twitterURL }}" target="_blank">
                <img src="/images/twitter.png"/>
                <span>Twitter</span>
            </a>
        </div>

        <div>
            <a href="{{ .Site.Params.googlePlusURL }}" target="_blank">
                <img src="/images/gplus.png"/>
                <span>Google+</span>
            </a>
        </div>

        <div>
            <a href="{{ .Site.Params.redditURL }}" target="_blank">
                <img src="/images/reddit.png"/>
                <span>Reddit</span>
            </a>
        </div>

        <div>
            <a href="{{ .Site.Params.rssFeed }}" target="_blank" onclick="floodLight('googl003');">
                <img src="/images/rss.png"/>
                <span>RSS</span>
            </a>
        </div>

        <div>
            <a href="{{ .Site.Params.itunesURL }}" target="_blank" onclick="floodLight('googl002');">
                <img src="/images/itunes.png"/>
                <span>iTunes</span>
            </a>
        </div>

    </div>
    <div id="terms">
        <a href="/license/">License</a>&nbsp;|&nbsp;<a href="https://www.google.com/intl/en/policies/privacy/?fg=1">Privacy</a>
    </div>
</footer>

</div>
</body>
</html>
