<div class="centered mdl-card mdl-cell mdl-shadow--2dp mdl-cell--8-col">

    {{ partial "card-header" . }}

    <div class="mdl-card__supporting-text full-episode">


        <paper-audio-player color="rgb(255,82,82)" title="{{ .Title }}" preload="none"
                            src="{{ .Site.Params.episodeBucket }}/{{ .Params.audiofile }}"></paper-audio-player>

        <a href="{{ .Site.Params.episodeBucket }}/{{ .Params.audiofile }}" id="podcast-download">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons">file_download</i>
            </button>Download
        </a>

        <div class="hosts">
            {{ range .Params.hosts }}
            <img src="/images/hosts/{{ replace . " " "_" }}.png">
            {{ end }}
        </div>

        <p>{{ .Content }}</p>

        {{ if .Params.linked }}
        <p id="linked">Continue the conversation on:
            <a href="{{ .Params.googlepluslink}}" target="_blank">Google+</a>
            or <a href="{{ .Params.redditlink}}" target="_blank">Reddit</a>
        </p>
        {{ end }}

        <footer class="mdl-mini-footer mdl-color--white podcast-topic">
            <p><strong>Hosts: </strong>{{ delimit .Params.hosts ", " " and " }}</p>
            <p><strong>Topics: </strong>
                {{ with .Params.categories }}
                    {{ $links := apply . "partial" "category-link" "." }}
                    {{ delimit $links ", " " and " }}
                {{ end }}
            </p>
        </footer>


        {{partial "share" .}}

    </div>

    {{/* partial "pagination.html" $paginator */}}

</div>
