<div class="centered mdl-cell mdl-cell--8-col">
    {{if .HasPrev}}
        <a href="{{ .Prev.URL }}" class="nav-previous mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">arrow_back</i>
        </a>
    {{end}}
    {{if .HasNext}}
        <a href="{{ .Next.URL }}" class="nav-next mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">arrow_forward</i>
        </a>
    {{end}}
</div>