<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GCP Podcast</title>
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic|Roboto+Condensed:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<h1><a href=""><img src="/images/GCPLogo.png" /><span>Google Cloud Platform Podcast</span></a></h1>
		<div class="links">
			<nav>
				<ul>
					<li><a href="">Archive</a></li>
					<li><a href="">About</a></li>
				</ul>
			</nav>
			<div class="icon icon-rssfeed">
				<a href="">
					<img src="/images/rss.png" />
					<span>RSS</span>
				</a>
			</div>
			<div class="icon icon-itunes">
				<a href="">
					<img src="/images/itunes.png" />
					<span>iTunes</span>
				</a>
			</div>
		</div>			
	</header>
	<main>
		<article>
			<header>
			<h1><a href=""><strong>Episode 2:</strong> Ops we did it again.</a></h1>
			</header>
			<div class="media-box">
				<img src="/images/francesc.jpg">
				<img src="/images/mark.jpg">
			</div>
			<p>Pun intended. We asked, and asked, and management foolishly said ‘yes’. So here we are, a team of  developer advocates doing a podcast. Our intention is to fill your daily commute with hours and hours of content about ‘the cloud.’ But don’t think we’re staying strictly with Google Cloud Platform. At least one episode of this podcast will be a solid hour of us saying the word “Docker” at various volumes and assorted accents. So come join us for a journey to the clouds... and beyond!</p>
			<footer>
				<div><strong>Hosts:</strong> Francesc Campoy Flores &amp; Mark Mandel</div>
				<div><strong>Topics:</strong> Google Cloud Platform, Go, Docker</div>
			</footer>	 
		</article>
		<article>
			<header>
			<h1><a href=""><strong>Episode 1:</strong> We can haz podcast?!?!</a></h1>
			</header>
			<div class="media-box">
				<img src="/images/mark.jpg">
				<img src="/images/francesc.jpg">
			</div>
			<p>We asked, and asked, and management foolishly said ‘yes’. So here we are, a team of  developer advocates doing a podcast. Our intention is to fill your daily commute with hours and hours of content about ‘the cloud.’ But don’t think we’re staying strictly with Google Cloud Platform. At least one episode of this podcast will be a solid hour of us saying the word “Docker” at various volumes and assorted accents. So come join us for a journey to the clouds... and beyond!</p>
			<footer>
				<div><strong>Hosts:</strong> Francesc Campoy Flores &amp; Mark Mandel</div>
				<div><strong>Topics:</strong> Google Cloud Platform, Go, Docker</div>
			</footer>	 
		</article>
	</main>

	<footer>
		<nav>
			<ul>
				<li><a href="" ><img src="/images/twitter.png" /><span>Twitter</span></a></li>
				<li><a href=""><img src="/images/gplus.png" /><span>Google+</span></a></li>
				<li><a href=""><img src="/images/reddit.png" /><span>Reddit</span></a></li>
			</ul>
		</nav>	


	</footer>
</body>
</html>